:root {
    font-size: 16px;
    font-family: 'Comic Sans MS', 'Helvetica Neue', sans-serif;
    --background: #D9D9D9;
    --valid: #7D80DA;
    --delete: #FF0000;
    --task: #5C5959;
    --task-valid-background: #800080;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0 0;
}

/* Utilities */
.display-none {
    display: none;
}

/* Global */
.body_background {
    background-color: var(--background);
    height: 100vh;
}

.title {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.task_in_progress {
    background-color: var(--task);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 1rem;
    margin: .5rem;
    border-radius: 10px;
}

.task_valid {
    background-color: var(--task-valid-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 1rem;
    margin: .5rem;
    border-radius: 10px;
}

.task_button-cross {
    width: 1.5rem;
}

.task_button-valid {
    width: 1.5rem;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    background-color: var(--task);
    border: var(--background) 0.1rem solid;
}

.task_title {
    margin-left: 2rem;
    margin-right: 2rem;
}

.img_add {
    width: 4rem;
    position: fixed;
    bottom: 0;
    right: 0;
}

/* Form */
.background-form {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(158, 156, 156, 0.8);
    top: 0;
}

.add-task {
    display: none;
    position: absolute;
    width: 90%;
    margin-left: 5vw;
    margin-right: 5vw;
    justify-content: space-between;
    background-color: var(--task);
    padding: .7rem;
    border-radius: 10px;
    top: 50%;
}


input {
    border-radius: .5rem;
    padding: .5rem;
}

.add-task_button {
    background-color: var(--valid);
    color: var(--background);
    border-radius: 2rem;
}